<h1>
    Welcome <%= name.substring(0, 1).toUpperCase() + name.substring(1);%> to the home Page! 
</h1>

<div class="ui card "  >
    <div class="content">
        <div class="header">Website Coming Soon </div>
      
    </div>
</div>
<a href="/logout">Logout</a>